@font-face {
    font-family: 'Conv_Amble-Regular';
    src: url('../fonts/Amble-Regular.eot');
    src: local('☺'), url('../fonts/Amble-Regular.woff') format('woff'), url('../fonts/Amble-Regular.ttf') format('truetype'), url('../fonts/Amble-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
html{background-color:#ecf0f1; font-family: conv_amble-regular arial;}


.header .ico{
    background: url(ico.svg) no-repeat -5px 0;
    width: 100px;
    height: 90px;
    float: left;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    margin-top: -45px;
    z-index: 1000;
    cursor: pointer;
}

.header{
width:400px;
}
.header h3{
    float: left;
    color: #3498db;
    font-weight: lighter;
    font-size: 25px;
    margin-top: 65px;
    margin-left: -26px;
}
.inputStyle{
    width: 300px;
    height: 50px;
    border:none;
    padding: 0 15px;
    direction:ltr;
    background-color: #fff;
}
.b{
    width: 330px;
    height: 39px;
    background-color: #3498db;
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding-top: 11px;
    cursor: pointer;
}

.wtmrk{color: #3498db;font-style: italic;}
.coolwtmrk{color: #e74c3c;font-size: 14px;font-family:'Comic Sans MS';font-style: italic;}

.container{
    margin:150px auto;
    width:400px;
}
.ico svg g path{ fill: white;transition:all 0.4s;-webkit-transition:all 0.4s;}
.ico svg:hover g path{fill: #C0392B;transition:all 0.4s;-webkit-transition:all 0.4s;}
